@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

article {
  margin-bottom: 30px;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  color: #333;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.site-title {
  padding: 20px 16px;
}

.subtitle {
  margin: 0 0 30px;
  text-align: center;
}

.pickup {
  padding-top: 150px;
  margin-bottom: 60px;
}

.author {
  margin: 0 0 60px;
  text-align: center;
}

.author img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: 0 0 30px;
}

.author p {
  font-size: 0.875rem;
  margin: 0;
  text-align: left;
}

.ranking {
  margin-bottom: 60px;
}

.ranking a {
  color: #333;
  text-decoration: none;
}

.ranking p {
  font-size: 0.875rem;
  margin: 0;
}

.archive {
  margin-bottom: 120px;
}

.archive a {
  color: #333;
  text-decoration: none;
}

.border-list ul {
  border-bottom: solid 1px #777;
  padding: 0;
  margin: 0;
}

.border-list li {
  border-top: solid 1px #777;
  font-size: 0.875rem;
  padding: 20px;
  text-align: left;
}

.readmore a:hover {
  color: #333;
  text-decoration: none;
}

#header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#header a {
  text-decoration: none;
}

#navi {
  background-color: #333;
  overflow-x: scroll;
}

#navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#navi a {
  color: #fff;
}

#navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

#main .content {
  color: #333;
  text-decoration: none;
}

#main ul {
  display: flex;
  padding: 0 0 10px;
  margin: 0;
}

#main li {
  font-size: 0.875rem;
  margin-right: 10px;
}

#main p {
  padding: 10px 40px 30px;
  margin: 0;
}

#footer {
  background-color: #f7f7f7;
}

#footer a {
  color: #333;
  text-decoration: none;
}

#footer p {
  font-size: 0.875rem;
  margin: 0;
}

#footer ul {
  padding: 0;
}

#footer .footer-flex-container {
  padding-top: 50px;
}

#footer .footer-content {
  margin-bottom: 50px;
}

#footer .footer-title {
  margin: 0 0 30px;
}

#footer .about li {
  font-size: 0.825rem;
  margin-bottom: 5px;
}

#footer .about ul li::before {
  /* 右三角形の Unicode 文字 */
  content: "\25B6";
  margin-right: 3px;
}

#footer .menu li {
  padding: 15px;
}

#footer .copyright {
  font-size: 0.75rem;
  padding: 10px 0;
  text-align: center;
}

@media (width >= 767px) {
  .pickup {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .pickup article {
    width: 32%;
  }

  .media-query-flex {
    display: flex;
    justify-content: space-between;
  }

  #main {
    margin: 0;
    padding: 0;
    width: 65%;
  }

  #sidebar {
    width: 32%;
  }

  #footer .footer-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #footer .about,
  #footer .menu,
  #footer .footer-content {
    width: 30%;
  }
}
