@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  color: #333;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.site-title {
  padding: 20px 16px;
}

.pickup {
  padding-top: 150px;
  margin-bottom: 60px;
}

.pickup article {
  margin-bottom: 30px;
}

#header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 10;
}

#header a {
  text-decoration: none;
}

#navi {
  background-color: #333;
}

#navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#navi a {
  color: #fff;
}
#navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

@media (min-width: 767px) {
  .pickup {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .pickup article {
    width: 32%;
  }
}
